html {
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center; 
    background-size: cover;
    background-attachment: fixed; 
    background-color: #f6f6f6;
    font-family: NBA76ers;
  }
  table {
    border-collapse: collapse;
}

td {
    padding: 10px;
    text-align: center;
    border: none;
}

img {
    max-width: 70px;
    max-height: 70px;
}
  .white-box {
    margin: 20px;
    width: auto;
    height: auto;
    background-color: #ffffff;
    border-radius: 2px;
    padding: 20px;
    text-align: left;
    font-size: 16px;
}
@font-face {
    font-family: NBA76ers;
    src: url('../fonts/nbafont/NBA\ Cavaliers.ttf') format('truetype');
  }